* {
  border: none;
  border-radius: 0;
  font-family:
    Cartograph CF Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 12px;
  min-height: 22px;
}

window#waybar {
  background: transparent;
  color: black;
}

#workspaces button {
  padding: 5px;
  color: white;
  margin-right: 5px;
}

#workspaces button.active {
  color: white;
}

#workspaces button.focused {
  color: white;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: white;
  border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#wireplumber,
#network,
#workspaces,
#tray,
#backlight {
  background: white;
  padding: 2px 15px 2px 15px;
  margin-top: 0px;
  border-color: black;
  border-style: solid;
  border-width: 1px 0px 1px 0px;
}

#tray {
  border-left-width: 1px;
}

#workspaces {
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#custom-caffeine {
  color: #89dceb;
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
  margin-left: 10px;
}

#custom-language {
  color: #f38ba8;
  border-left: 0px;
  border-right: 0px;
}

#custom-updates {
  color: black;
  border-left-width: 1px;
  border-style: solid;
}

#window {
  border-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  margin-left: 60px;
  margin-right: 60px;
}

#clock {
  color: black;
  border-right-width: 1px;
  border-left-width: 1px;
  border-style: solid;
}

#network {
  color: #f9e2af;
  border-left: 0px;
  border-right: 0px;
}

#wireplumber {
  color: black;
  border-left-width: 1px;
}

#wireplumber.muted {
  color: red;
}

#battery {
  color: #a6e3a1;
  border-radius: 0 10px 10px 0;
  margin-right: 5px;
}

#custom-weather {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}
